[general]
path = /root/placement/flow_tap/baseline/RL/fastTM/outputs/benchmark_multigpu/
placer_granularity = 1
initial_placement = given
decay = 0.8

[interposer]
# we will support passive, active, (photonic), and EMIB options.
intp_type = passive
intp_size = 47.292496
link_type = nppl

[chiplets]
chiplet_count = 1
widths = 	7.75
heights = 	11.87
powers = 	100
x = 3.975
y = 6.034999999999999

connections = 0
