[general]
path = /root/placement/flow_tap/baseline/RL/fastTM/outputs/benchmark_hp6_m/
placer_granularity = 1
initial_placement = given
decay = 0.8

[interposer]
# we will support passive, active, (photonic), and EMIB options.
intp_type = passive
intp_size = 50.0
link_type = nppl

[chiplets]
chiplet_count = 1
widths = 	5.46
heights = 	33.04
powers = 	100
x = 2.83
y = 16.62

connections = 0
