[general]
path = /root/placement/flow_tap/baseline/RL/fastTM/outputs/benchmark_xerox6_m/
placer_granularity = 1
initial_placement = given
decay = 0.8

[interposer]
# we will support passive, active, (photonic), and EMIB options.
intp_type = passive
intp_size = 50.0
link_type = nppl

[chiplets]
chiplet_count = 1
widths = 	12.18
heights = 	16.52
powers = 	100
x = 6.1899999999999995
y = 8.36

connections = 0
