[general]
path = /root/placement/flow_tap/baseline/RL/fastTM/outputs/benchmark_Case6/
placer_granularity = 1
initial_placement = given
decay = 0.8

[interposer]
# we will support passive, active, (photonic), and EMIB options.
intp_type = passive
intp_size = 50.767533
link_type = nppl

[chiplets]
chiplet_count = 1
widths = 	8.0
heights = 	12.0
powers = 	100
x = 4.1
y = 6.1

connections = 0
