[general]
path = /root/placement/flow_tap/baseline/RL/fastTM/outputs/benchmark_xerox7_m/
placer_granularity = 1
initial_placement = given
decay = 0.8

[interposer]
# we will support passive, active, (photonic), and EMIB options.
intp_type = passive
intp_size = 50.0
link_type = nppl

[chiplets]
chiplet_count = 1
widths = 	21.14
heights = 	12.95
powers = 	100
x = 10.67
y = 6.574999999999999

connections = 0
