[general]
path = /root/placement/flow_tap/baseline/RL/fastTM/outputs/benchmark_xerox8_m/
placer_granularity = 1
initial_placement = given
decay = 0.8

[interposer]
# we will support passive, active, (photonic), and EMIB options.
intp_type = passive
intp_size = 51.503402
link_type = nppl

[chiplets]
chiplet_count = 1
widths = 	4.9
heights = 	12.95
powers = 	100
x = 2.5500000000000003
y = 6.574999999999999

connections = 0
