[general]
path = /root/placement/flow_tap/baseline/RL/fastTM/outputs/benchmark_Case7/
placer_granularity = 1
initial_placement = given
decay = 0.8

[interposer]
# we will support passive, active, (photonic), and EMIB options.
intp_type = passive
intp_size = 27.549672
link_type = nppl

[chiplets]
chiplet_count = 1
widths = 	9.0
heights = 	9.0
powers = 	100
x = 4.6
y = 4.6

connections = 0
