[general]
path = /root/placement/flow_tap/baseline/RL/fastTM/outputs/benchmark_xerox6_m/
placer_granularity = 1
initial_placement = given
decay = 0.8

[interposer]
# we will support passive, active, (photonic), and EMIB options.
intp_type = passive
intp_size = 50.0
link_type = nppl

[chiplets]
chiplet_count = 1
widths = 	8.4
heights = 	7.56
powers = 	100
x = 4.3
y = 3.88

connections = 0
