[general]
path = /root/placement/flow_tap/baseline/RL/fastTM/outputs/benchmark_Case7/
placer_granularity = 1
initial_placement = given
decay = 0.8

[interposer]
# we will support passive, active, (photonic), and EMIB options.
intp_type = passive
intp_size = 27.549672
link_type = nppl

[chiplets]
chiplet_count = 1
widths = 	2.0
heights = 	1.2
powers = 	100
x = 1.1
y = 0.7

connections = 0
