[general]
path = /root/placement/flow_tap/baseline/RL/fastTM/outputs/benchmark_multigpu/
placer_granularity = 1
initial_placement = given
decay = 0.8

[interposer]
# we will support passive, active, (photonic), and EMIB options.
intp_type = passive
intp_size = 47.292496
link_type = nppl

[chiplets]
chiplet_count = 1
widths = 	18.2
heights = 	18.2
powers = 	100
x = 9.2
y = 9.2

connections = 0
